{% load i18n %}

<input 
    onClick="valchanged('{{ question.number }}', this.value);" 
    type="radio" 
    id="{{ question.number }}_yes" 
    name="question_{{ question.number }}" 
    value="yes"
    {% ifequal qdict.value "yes" %} checked{% endifequal %}
>
<label for="{{ question.number }}_yes">&nbsp;{% trans "Yes" %}</label>

<input 
    onClick="valchanged('{{ question.number }}', this.value);" 
    type="radio" 
    id="{{ question.number }}_no" 
    name="question_{{ question.number }}" 
    value="no"
    {% ifequal qdict.value "no" %} checked {% endifequal %}
>
<label for="{{ question.number }}_no">&nbsp;{% trans "No" %}</label>

{% if qdict.hasdontknow %}
    <input 
        onClick="valchanged('{{ question.number }}', this.value);" 
        type="radio" 
        id="{{ question.number }}_dontknow" 
        name="question_{{ question.number }}" 
        value="dontknow"
        {% ifequal qdict.value "dontknow" %} checked {% endifequal %}
    ><label for="{{ question.number }}_dontknow">
        &nbsp;{% trans "Don't Know" %}
    </label>
{% endif %}

{% if qdict.hascomment %}
    {% if question.extra %}<br />{{ question.extra }}
    {% else %}: 
    {% endif %}
    <input 
        type="input" 
        {{ qdict.checks|safe }} 
        id="{{ question.number }}_comment" 
        name="question_{{ question.number }}_comment" 
        size="50" 
        value="{{ qdict.comment }}"
    >
{% endif %}

<br />