{% load i18n %}
{% for choice, key, checked in qdict.choices %}
<input type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }}>
<label for="{{ key }}">{{ choice.text }}</label>{% if not qdict.nobreaks %}<br />{% endif %}
{% endfor %}
{% if qdict.extras %}
{% if question.extra %}<label for="question_{{ question.number }}_more1">{{ question.extra }}</label><br />{% endif %}
{% for key, value in qdict.extras %}
<b>{{ forloop.counter }}.</b> <input type="input" name="{{ key }}" size="50" value="{{ value }}"><br />
{% endfor %}
{% endif %}
