<div class="clearfix">
    <div class="input">
        <input type="text" class="span2" name="question_{{ question.number }}" size="10" value="{{ qdict.value }}">
        <select class="span2" name="question_{{ question.number }}_unit">
        {% for val, desc, sel in qdict.timeperiods %}
            <option value="{{ val }}"{% if sel %} selected="selected"{% endif %}>{{ desc }}</option>
        {% endfor %}
        </select>
        {% if question.extra %}
            <span class="help-block">{{ question.extra }}</span>
        {% endif %}
    </div>
</div>
